<% provide(:title, @user.name) %>

<%= render 'shared/userallbar' %>

	<div class="user_container">

		<% flash.each do |key, value| %>
		  <div class="alert  alert-<%= key %>"><%= value %></div>
		<% end %>	
		
		<div class="message_left_column">
	
			<div class="message_show_image">
				<% if @user.avatar.present? %>
					<%= image_tag(@user.avatar(:small), class: "user_no_pic") %>
				<% else %>
					<%= image_tag("userlogo.png", class: "user_no_pic") %>
				<% end %>
	
				<div class="user_show_pic">
					<%= link_to "Change Profile Picture", pics_user_path(@user) %>
				</div>

			</div>
			
	<%= render 'shared/navbar' %>

	<%= link_to @user.admin do %>
		<div class="message_show_mm_box">
			
			<%= image_tag(@user.admin.avatar(:small), class: 'message_mm_pic') %>
			<p class="message_mm_title_bold">Your MatchMaker:</p>			
			<p class="message_mm_title"><%= @user.admin.name %></p>

		</div>
	<% end %>
		
	<% if @user.matches.present? || @user.wmatches.present? %>
		<div class="message_match_box">
		<% if @user.gender == "MALE" %>
			<%= link_to profile_user_url(@match.woman)  do %>
				<%= image_tag(@match.woman.avatar(:small)) %>
				<p class="message_mm_title_bold">Your Match:</p>
				<p class="message_mm_title"> <%= @match.woman.name %> </p>
			<% end %>
		<% else %>
			<%= link_to profile_user_url(@wmatch.man) do %>
				<%= image_tag(@wmatch.man.avatar(:small)) %>
				<p class="message_mm_title_bold">Your Match:</p>				
				<p class="message_mm_title"> <%= @wmatch.man.name %> </p>
			<% end %>
		<% end %>
		</div>			
		</div>
	<% end %>	
	</div>
	
	<div class="message_right_column">
	
			<h1 class="user_header"> Answer Questions</h1>

	<div class="question_new_box">
		<%= form_for @question, :html => { :multipart => true } do |f| %>
	
		<%= f.label :job, "What Is Your Occupation?", class: "user_signup" %>
		<div class="question_form_details">
		  example: Civil Engineer, Filmmaker, Artist, Student, etc.
		</div>				
		<%= f.text_field :job, class: "user_signup_field" %>

		<%= f.label :ethnicity, "What is your Ethnicity?", class: "user_signup" %>
		<%= f.text_field :ethnicity, class: "user_signup_field" %>			
		
		<%= f.label :education, "Highest Level of Education Finished", class: "user_signup" %>
		<%= f.select(:education, ['High School',
						 'Community College', 'University','Grad School',
						 'PHD']) %>
						 
		<%= f.label :prayer, "How Often Do You Pray?", class: "user_signup" %>
		<div class="question_form_details">
		 Be honest. 
		</div>
		<%= f.select(:prayer, ['almost all the Wajib prayers',
					    'all the Wajib prayers', 'all the Wajib prayers & some extra prayers',
						 'all the Wajib and a lot of extra prayers']) %>		
		
		<% if @user.gender == "FEMALE" %> 
	
		<%= f.label :hijab, "Do You Wear Hijab?", class: "user_signup" %>
		<%= f.select(:hijab, %w[NO YES]) %>			
		
		<% end %>
		
		<%= f.label :syed, "Are You a Syed?", class: "user_signup" %>
		<%= f.select(:syed, %w[NO YES]) %>			 				 
							
		
		<%= f.label :firsthobby, "What hobbies do you engage in?", class: "user_signup" %>
		<div class="question_form_details">
		i.e: community activities, sports, etc. 
		</div>
		<%= f.text_field :firsthobby, class: "user_signup_field" %>	
		<%= f.text_field :secondhobby, class: "user_signup_field" %>	
		<%= f.text_field :thirdhobby, class: "user_signup_field" %>								

		<%= f.label :islamtoyou, "What does Islam mean to you?", class: "user_signup" %>
		<div class="question_form_details">
		Keep your answers to one or two sentences. 
		</div>

		<%= f.text_field :islamtoyou, class: "user_signup_field" %>	
		
		<%= f.hidden_field(:user_id) %>
	
		<%= f.submit "Answer", class: "user_create" %>

		<% end %>
		
	
	</div>
		
	</div>
	
	</div>
