<% provide(:title, "All Invite Codes") %>

	<%= link_to profile_admin_path(current_admin) do %>
	  <div class="all_logo">
		<%= image_tag("headerlogo.png") %>	
	  </div>
	<% end %>

	<%= render 'shared/admin_navbar' %>

	<% flash.each do |key, value| %>
	  <div class="alert  alert-<%= key %>"><%= value %></div>
	<% end %>

	<%= render 'shared/allbar' %>
	<%= render 'shared/sidebar' %>
	
	<div class="admin_show">
		
		
		<h1 class="invite_all_header">All Invite Codes</h1>
		<% @invites.each do |invite| %>
		<p class="all_codes"> <%= invite.code %> </p>
		<% end %>

	
	</div>
