<% provide(:title, "Create Invite Code") %>

	<%= link_to profile_admin_path(current_admin) do %>
	  <div class="all_logo">
		<%= image_tag("headerlogo.png") %>	
	  </div>
	<% end %>

	<%= render 'shared/admin_navbar' %>
	
	<div class="all_bar">
		
		<%= link_to profile_admin_url(current_admin) do %>
			<div class="home_button">
				<p> Home </p>
			</div>
		<% end %>
		
		<%= link_to invites_url do %>
			<div class="home_button">
				<p> All Codes </p>
			</div>
		<% end %>
		
	</div>



<div class="container">
	
	<h1 class="invite_header">Create Invite Code</h1>
	
	<div class="admin_signup_box">
		<%= form_for(@invite) do |f| %>
			
		<%= f.label :code, class: "admin_signup" %>
		<%= f.text_field :code, class: "admin_signup_field" %>

		<%= f.submit "Create Code", class: "admin_create" %>

		<% end %>
	</div>
	
</div>