<% provide(:title, @user.name) %>

<%= render 'shared/userallbar' %>

	<div class="user_container">

		<% flash.each do |key, value| %>
		  <div class="alert  alert-<%= key %>"><%= value %></div>
		<% end %>	
		
		<div class="message_left_column">
	
		<%= render 'shared/userimage' %>
		<%= render 'shared/navbar' %>

	<%= link_to @user.admin do %>
		<div class="message_show_mm_box">
			
			<%= image_tag(@user.admin.avatar(:small), class: 'message_mm_pic') %>
			<p class="message_mm_title_bold">Your MatchMaker:</p>			
			<p class="message_mm_title"><%= @user.admin.name %></p>

		</div>
	<% end %>
		
	<% if @user.matches.present? || @user.wmatches.present? %>
		<div class="message_match_box">
		<% if @user.gender == "MALE" %>
		 <% if @match.infoapprove.blank? %>
		   <p class="waiting_match"> You are being matched </p>
		 <% else %>
			<%= link_to profile_user_url(@match.woman)  do %>
				<% if @match.woman.avatar.present? %>
				 <%= image_tag(@match.woman.avatar(:small)) %>
				<% else %>
				 <%= image_tag("viewprofile.png") %>
				<% end %>				
				<p class="message_mm_title_bold">Your Match:</p>
				<p class="message_mm_title"> <%= @match.woman.name %> </p>
			<% end %>
		<% end %>
		<% else %>
			<%= link_to profile_user_url(@wmatch.man) do %>
				<% if @wmatch.man.avatar.present? %>
				 <%= image_tag(@wmatch.man.avatar(:small)) %>
				<% else %>
				 <%= image_tag("viewprofile.png") %>
				<% end %>	
				<p class="message_mm_title_bold">Your Match:</p>				
				<p class="message_mm_title"> <%= @wmatch.man.name %> </p>
			<% end %>
		<% end %>
		</div>			
		</div>
	<% end %>
	</div>
	
		<div class="message_right_column">

			<div class="all_messages_box">
				<h1 class="all_message_header"> Inbox </h1>
					<% if @recieved.empty? then %>
				<p class="no_match_description"> No Messages in Inbox</p>
			<% if @match.present? || @wmatch.present?  %>
		 <% if @match.femapprove.blank? %>
		  <% else %>						
			 <%= link_to new_message_path do %>
				<div class="new_msg_link"> 
				    New Message
				 </div>			
			<% end %>
		 <% end %>	
			<% end %>
			 <%= link_to sent_path do %>
				<div class="new_msg_link"> 
				    Sent Messages
				 </div>			
			<% end %>					
					<% else %>
				<% @recieved.each do |recieved| %>
				<% if recieved.seen? %>
					<div class="each_message">
			   <% else %>
			       <div class="each_message_notseen">
			    <% end %> 
				<%= link_to recieved do %>
				  <% if recieved.sender.avatar.present? %>
					<%= image_tag(recieved.sender.avatar(:small), 
					   			  class:"all_msg_photo") %>
				  <% else %>
					<%= image_tag("viewprofile.png", 
					   			  class:"all_msg_photo") %>
				  <% end %>	   			  				  	   			  
					<p class="all_msg_message">
						<%= truncate(recieved.message, length: 70) %> <br />
					</p>
					<p class="all_msg_message_time">
						<%= time_ago_in_words(recieved.created_at) %>
						ago
					</p>				
					</div>
				<% end %>
				<% end %>			
			 <%= link_to new_message_path do %>
				<div class="new_msg_link"> 
				    New Message
				 </div>			
			<% end %>
			 <%= link_to sent_path do %>
				<div class="new_msg_link"> 
				    Sent Messages
				 </div>			
			<% end %>	
		<% end %>
			</div>
			
		<div class="match_msg_delete">
			<p> Your Messages will Delete after the Match Finishes
			</p>
		</div>	
		
		<div class="all_messages_box">
			<h1 class="all_message_header">MatchMaker Messages
			</h1>
		
		<% if @msgs.empty? then %>
		  <p class="no_match_description"> No Messages in Inbox</p>
		 <%= link_to new_msg_path do %>
			<div class="new_msg_link"> 
				New Message
			 </div>			
			<% end %>
		<% else %>
		<% @msgs.each do |msg| %>
			<div class="each_message"> 
		<%= link_to msg do %>
			<%= image_tag(msg.admin.avatar(:small), class:"mm_msg_photo") %>
		   <% if msg.user.avatar.present? %>
			<%= image_tag(msg.user.avatar(:small), class:"mm_user_msg_photo") %>
		   <% else %>
		    <%= image_tag("viewprofile.png", class:"mm_user_msg_photo") %>
		   <% end %> 				
			<p class="all_msg_message">
				<%= truncate(msg.message, length: 70) %> <br />
			</p>

		  <%= button_to "x", {:action => "userhide", :id => msg.id, :controller => "msgs" }, 
		  		:confirm => "Are you sure you want to delete this message?", 
		  		:method => "put", form_class: "user_msg_delete"  %>

			<p class="all_msg_message_time">
				<%= time_ago_in_words(msg.created_at) %>
				ago
			</p>							
			</div>
		<% end %>
		<% end %>						
		 <%= link_to new_msg_path do %>
			<div class="new_msg_link"> 
				New Message
			 </div>			
			<% end %>				
		<% end %>	  		
		</div>
	
	</div>
	
	</div>
