 <% provide(:title, "Reset Password") %>

 <div class="container"> 

  <%= image_tag("logonew1.png", :alt => "shiaME Home Page", :class => "signin_logo") %>
  
  <div class="admin_signup_box">

  <div class="instructions_box">
  	Reset Your Password Below
  </div>

    <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>

		<%= render 'shared/user_errors' %>
    
    <%= f.label :password, class: "admin_signup" %>
    <%= f.password_field :password, class: "admin_signup_field" %>

    <%= f.label :password_confirmation, class: "admin_signup" %>
    <%= f.password_field :password_confirmation, class: "admin_signup_field" %>   

    <%= f.submit "Reset", class: "admin_create" %>

    <% end %>
  </div>
</div>