		<div class="admin_sort_by_box">
			<div class="sort_text">
				Sort By Ethnicity:  
			</div>
		 <%= link_to allmen_admin_path do %>
			<div class="sort_three">
				All 
			</div>
		 <% end %>	
		 <%= link_to desimen_admin_path do %>	
			<div class="sort_one">
				Desi 
			</div>
		 <% end %>
		 <%= link_to persianmen_admin_path do %>
			<div class="sort_two">
				Persian
			</div>
		 <% end %>
		 <%= link_to arabmen_admin_path do %>
			<div class="sort_three">
				Arab
			</div>
		 <% end %>
		 <%= link_to othermen_admin_path do %>
			<div class="sort_three">
				Other
			</div>
		 <% end %>			 	 
		</div>