<% provide(:title, "Edit Admin") %>

	<%= link_to root_path do %>
<div class="all_logo">
	<%= image_tag("headerlogo.png") %>	
	
</div>
	<% end %>

	<ul class="admin_nav_bar">
		<li> <%= link_to "Profile", current_admin %></li>
		<li> <%= link_to "Settings", edit_admin_path(current_admin) %></li>
		<li> <%= link_to "Change Picture", pics_admin_path %></li>
		<li> <%= link_to "Log Out", logout_path, method: "delete" %> </li>
	</ul>
	
	<div class="all_bar">
		
		<%= link_to profile_admin_url do %>
			<div class="home_button">
				<p> Home </p>
			</div>
		<% end %>
		
	</div>

<div class="container">
	
	<h1 class="admin_header">Edit Profile</h1>
	
	<div class="admin_signup_box">
		<%= form_for @admin, :html => {:multipart => true} do |f| %>
		
		<%= render 'shared/error_messages' %>
	
		<%= f.label :name, class: "admin_signup" %>
		<%= f.text_field :name, class: "admin_signup_field" %>

		<%= f.label :email, class: "admin_signup" %>
		<%= f.text_field :email, class: "admin_signup_field" %>
	
		<%= f.label :password, class: "admin_signup" %>
		<%= f.password_field :password, class: "admin_signup_field" %>
	
		<%= f.label :password_confirmation, "Confirmation", class: "admin_signup" %>
		<%= f.password_field :password_confirmation, class: "admin_signup_field" %>
		
		<%= f.hidden_field :updating_password, :value => "true" %>			
		
		<%= f.label :location, class: "admin_signup" %>
		<%= f.text_field :location, class: "admin_signup_field" %>

		<%= f.label :bio, "Bio", class: "admin_signup" %>
		<%= f.text_area :bio, class: "admin_signup_textarea" %>

		<%= f.submit "Save", class: "admin_create" %>

		<% end %>
	</div>
	
</div>