<% provide(:title, "All Admins") %>

	<%= link_to root_path do %>
<div class="all_logo">
	<%= image_tag("headerlogo.png") %>	
	
</div>
	<% end %>

	<%= render 'shared/admin_navbar' %>


<div class="all_bar">

	<div class="matches_button">
		<p> All MatchMakers </p>
	</div>

	<%= link_to controller: "admins", action: "profile", id: current_admin.id do %>
		<div class="home_button">
			<p> Home </p>
		</div>
	<% end %>

</div>

  <div class="admin_cont">

<div class="admin_sidebar">
	<ul class="admin_sidebar_list">
	<% @admins.each do |admin| %>
	   <%= link_to :controller => "admins", :action => "show", :id => admin.id do %>	
		<li>
		  <% if admin.avatar.present? %>
		   <%= image_tag(admin.avatar(:large), class: "admin_sidebar_pics")%>
		  <% else %>
		   <%= image_tag("viewprofile.png", class: "admin_sidebar_pics")%>
		  <% end %>	  	
		  <p class="admin_sidebar_name"><%= admin.name %></p>	
		</li>
	  <% end %>
	<% end %>
	</ul>
</div>



	<% flash.each do |key, value| %>
	  <div class="alert  alert-<%= key %>"><%= value %></div>
	<% end %>	
	
	<div class="admin_show">
		
		<h1 class="admin_show_header">Select MatchMaker </h1>
		
	  <%= form_for @mmsg do |f| %>	
			  <%= f.collection_select(:receiver_id,  @admins, 
			  		:id, :name) %>
		<div class="new_mmsg_box">
			
				<%= f.label :message, "New Message",  class: "new_mmsg_label" %>
				<%= f.text_area :message, class: "new_mmsg_textarea" %>

				<%= f.hidden_field(:sender_id) %>
				
				<%= f.submit "Send Message", class:"new_mmsg_submit" %>
				
			<% end %>	
		</div>	
	</div>

 </div>