<% provide(:title, @admin.name) %>

	<%= link_to profile_admin_path(current_admin) do %>
		<div class="all_logo">
			<%= image_tag("headerlogo.png") %>	
		</div>
	<% end %>

	<%= render 'shared/admin_navbar' %>
	<%= render 'shared/allbar' %>

 <div class="admin_cont">

	<%= render 'shared/sidebar' %>

	<% flash.each do |key, value| %>
	  <div class="admin_alert  alert-<%= key %>"><%= value %></div>
	<% end %>	

	<div class="admin_show">

	<div class="admin_feed_about">
		DISCUSSION
	</div>	

	 <% if @feeds.any? %>
		<div class="all_admin_feeds">
		 <% @feeds.each do |feed| %>
			<div class="admin_each_feeds">
			 <% if feed.admin.avatar.present? %>	
		    <p> <%= image_tag(feed.admin.avatar(:small), class: "feed_admin_img") %> </p> 
		   <% else %>
		    <p> <%= image_tag("viewprofile.png", class: "feed_admin_img" ) %> </p> 
		   <% end %>      
				<% if feed.admin.name == current_admin.name %>
			    <%= button_to "X", {:action => "destroy",
			                        :id => feed.id, 
			                        :controller => "feeds"},
			                        :method => "delete", 
			                        :confirm => "Are you sure?", 
			                        :form_class => "delete_feed" %>
		    <% end %>				
		   <p class="feed_admin_post"> <%= feed.post %> </p>
		   <p class="feed_admin_name"> <%= feed.admin.name %> </p> 
		   <p class="feed_admin_time"> <%= time_ago_in_words(feed.created_at) %> ago </p> 	   
		  </div>
		 <% end %>
		</div> 
	 <% else %>	
		<div class="no_feeds"> 
			Nobody has said anything.
		</div>
	 <% end %>

		<%= render 'shared/feed_form' %>	

	</div>

 </div>