<% provide(:title, @admin.name) %>

	<%= link_to profile_admin_path(current_admin) do %>
		<div class="all_logo">
			<%= image_tag("headerlogo.png") %>	
		</div>
	<% end %>

	<%= render 'shared/admin_navbar' %>
	<%= render 'shared/allbar' %>
	<%= render 'shared/sidebar' %>


	<% flash.each do |key, value| %>
	  <div class="alert  alert-<%= key %>"><%= value %></div>
	<% end %>	
	
	<div class="admin_show">
		
	 <% if @feeds.any? %>
		<div class="all_admin_feeds">
		 <% @feeds.each do |feed| %>
			<div class="admin_each_feeds">
		   <p> <%= feed.post %> </p>
		  </div>
		 <% end %>
		</div> 
	 <% else %>	
		<div class="no_feeds"> 
			Nobody has said anything.
		</div>
	 <% end %>

	<%= render 'shared/feed_form' %>	


	</div>
