<% provide(:title, @admin.name) %>

	<%= link_to root_path do %>
<div class="all_logo">
	<%= image_tag("headerlogo.png") %>	
	
</div>
	<% end %>

	<%= render 'shared/admin_navbar' %>
	<%= render 'shared/allbar' %>

  <div class="admin_cont">

	<%= render 'shared/sidebar' %>


	<% flash.each do |key, value| %>
	  <div class="alert  alert-<%= key %>"><%= value %></div>
	<% end %>


	<div class="admin_show">
		
		<h1 class="admin_show_header">Select User </h1>
		
	<%= form_for @msg, controller: "admins", action: "newmsg" do |f| %>
	
	  <%= f.collection_select(:user_id,  @my_users.all, 
	  		:id, :name) %>
		<div class="new_mmsg_box">

		<%= f.hidden_field(:admin_id) %>
		<%= f.hidden_field :seen %>		
		<%= f.hidden_field :admin_seen %>	
	
		<%= f.label :message, "New Message",  class: "new_mmsg_label" %>
		<%= f.text_area :message, class: "new_mmsg_textarea" %>
		
		<%= f.submit "Send Message", class:"new_mmsg_submit" %>
		
			<% end %>	
		</div>	
	</div>



  </div>
