<% provide(:title, @admin.name) %>

	<%= link_to root_path do %>
<div class="all_logo">
	<%= image_tag("headerlogo.png") %>	
	
</div>
	<% end %>

	<ul class="admin_nav_bar">
		<li> <%= link_to "Profile", current_admin %></li>
		<li> <%= link_to "Settings", edit_admin_path(@admin) %></li>
		<li> <%= link_to "Change Picture", pics_admin_path(@admin) %></li>
		<li> <%= link_to "Log Out", logout_path, method: "delete" %> </li>
	</ul>


	<%= render 'shared/allbar' %>
	<%= render 'shared/sidebar' %>


	<% flash.each do |key, value| %>
	  <div class="alert  alert-<%= key %>"><%= value %></div>
	<% end %>	
	
	<div class="admin_show">
		
		
		<h1 class="admin_show_header"><%= @admin.name %>'s Messages</h1>
		 <%= link_to sendmsg_admin_path(@admin) do %>	
			<div class="admin_new_msg_link">
				Send New Message 
			</div>
		 <% end %>

	<div class="admin_show_msg_box">
			<div class="admin_msg_each_show">
			<%= image_tag(@msg.admin.avatar(:small), class:"mm_msg_photo") %>
			<%= image_tag(@msg.user.avatar(:small), class:"mm_user_msg_photo") %>				
				<p class="admin_msg_each_msg_show"> <%= @msg.message %> </p>
				<p class="admin_msg_each_time"> <%= time_ago_in_words(@msg.created_at) %> </p>
			</div>			

	</div>
	
	</div>
