<% provide(:title, @admin.name) %>

<div class="container">

	<%= link_to root_path do %>
		<div class="all_logo">
			<%= image_tag("headerlogo.png") %>	
		</div>
	<% end %>	
	
	<div class="admin_profile_box">
	
		<h1 class="admin_show_header"><%= @admin.name %></h1>

		<%= image_tag(@admin.avatar(:large), class: "admin_show_img" ) %>

		<p class="admin_show_location">
			<%= @admin.location %>
		</p>
		
		<p class="admin_show_bio">
			<%= @admin.bio %>
		</p>


	</div>
	
	<% if current_admin  %>
		<%= link_to profile_admin_url do%>
			<div class="admin_go_home">
				Go Home 
			</div>
		<% end %>
	<% end %>

</div>
