<% provide(:title, @admin.name) %>

<div class="container">

	<%= link_to root_path do %>
		<div class="all_logo">
			<%= image_tag("headerlogo.png") %>	
		</div>
	<% end %>	
	
	<div class="admin_profile_box">
	
		<h1 class="admin_show_header"><%= @admin.name %></h1>

		<p class="admin_show_location">
			<%= @admin.location %>
		</p>
		
		<p class="admin_show_bio">
			<%= @admin.bio %>
		</p>

	</div>

</div>
