<% provide(:title, "Sign In") %>

<div class="container">
	
	<%= image_tag("logonew1.png", :alt => "shiaME Home Page", :class => "signin_logo") %>

	
	
	
	
	<% flash.each do |key, value| %>
	  <div class="alert  alert-<%= key %>"><%= value %></div>
	<% end %>
	
	
	<div class="admin_signup_box">
		<%= form_for(:usersessions, url: usersessions_path) do |f| %>
	
		<%= f.label :email, class: "admin_signup" %>
		<%= f.text_field :email, class: "admin_signup_field" %>
	
		<%= f.label :password, class: "admin_signup" %>
		<%= f.password_field :password, class: "admin_signup_field" %>

		<%= f.submit "Sign In", class: "admin_create" %>
		
		
	<%= link_to root_path do %>	
		<div class="login_to_home">
		<p>Home</p>
		</div>
	<% end %>

		<% end %>
	</div>
	
</div>