<% provide(:title, @user.name) %>

<%= render 'shared/userallbar' %>
	
	<div class="user_container">

		<% flash.each do |key, value| %>
		  <div class="alert  alert-<%= key %>"><%= value %></div>
		<% end %>	
	
	<div class="message_left_column">
			<div class="message_show_image">
				<% if @user.avatar.present? %>
					<%= image_tag(@user.avatar(:small), class: "user_no_pic") %>
				<% else %>
					<%= image_tag("userlogo.png", class: "user_no_pic") %>
				<% end %>
	
				<div class="user_show_pic">
					<%= link_to "Change Profile Picture", pics_user_path(@user) %>
				</div>

			</div>		
			
	<%= render 'shared/navbar' %> 
		
			<%= link_to @user.admin do %>
		<div class="message_show_mm_box">
			
			<%= image_tag(@user.admin.avatar(:small), class: 'message_mm_pic') %>
			<p class="message_mm_title_bold">Your MatchMaker:</p>			
			<p class="message_mm_title"><%= @user.admin.name %></p>

		</div>
	<% end %>
		
	<% if @user.matches.present? || @user.wmatches.present? %>
		<div class="message_match_box">
		<% if @user.gender == "MALE" %>
			<%= link_to profile_user_url(@match.woman)  do %>
				<% if @match.woman.avatar.present? %>
				 <%= image_tag(@match.woman.avatar(:small)) %>
				<% else %>
				 <%= image_tag("viewprofile.png") %>
				<% end %>				
				<p class="message_mm_title_bold">Your Match:</p>
				<p class="message_mm_title"> <%= @match.woman.name %> </p>
			<% end %>
		<% else %>
			<%= link_to profile_user_url(@wmatch.man) do %>
				<% if @wmatch.man.avatar.present? %>
				 <%= image_tag(@wmatch.man.avatar(:small)) %>
				<% else %>
				 <%= image_tag("viewprofile.png") %>
				<% end %>	
				<p class="message_mm_title_bold">Your Match:</p>				
				<p class="message_mm_title"> <%= @wmatch.man.name %> </p>
			<% end %>
		<% end %>
		</div>			
		</div>
	<% end %>	
	
	</div>

	<div class="message_right_column">

	
	 <div class="new_msg_match_show">
			<%= image_tag(@user.admin.avatar(:small), 
							class: "mm_msg_photo") %>
		 <% if @user.avatar.present? %>		
			<%= image_tag(@user.avatar(:small), 
							class: "mm_user_msg_photo") %>
		 <% else %>
		 	<%= image_tag("viewprofile.png", 
							class: "mm_user_msg_photo") %>
		 <% end %>													
		<% if @lastmsg.present? %>
			<p class="all_msg_message">
				<%= truncate(@lastmsg.message, :length => 50) %>
			</p>
			<p class="all_msg_message_time">
				<%= time_ago_in_words(@lastmsg.created_at) %>
				ago
			</p>
		<% else %>
		 	<p class="all_msg_message">
		 	<em>	Send <strong><%= @user.admin.name %></strong> a Message </em>
		 	</p>
		<% end %>
	  </div>	

		<div class="new_msg_box">
		
			<%= form_for @msg do |f| %>
			
				<%= f.label :message, "New Message",  class: "new_msg_label" %>
				<%= f.text_area :message, class: "new_msg_textarea" %>
				
				<%= f.hidden_field(:admin_id) %>
				<%= f.hidden_field(:user_id) %>
				
				<%= f.submit "Send Message", class:"new_msg_submit" %>
				
			<% end %>	
		</div>	
	
	</div>

	</div>
