<% provide(:title, @user.name) %>

<%= render 'shared/userallbar' %>
	<div class="container">
	
				<%= link_to root_path do %>
		<div class="all_logo">
			<%= image_tag("headerlogo.png") %>	
		</div>
			<% end %>	
	
	<div class="admin_profile_box">		
	
			<%= image_tag(@user.avatar(:medium), class: "delete_match_pic" ) %>
		<div class="delete_match_middle">	
			<%= image_tag("goldpack.png", class: "delete_match_middle_logo") %>
			<p class="delete_match_header"> Are You Sure? </p>
		</div>
		<% if @user.gender == "MALE" %>
			<%= image_tag(@match.woman.avatar(:small), class:"delete_match_other_pic") %>
		<% end %>
		<% if @user.gender == "FEMALE" %>
			<%= image_tag(@wmatch.man.avatar(:small), class:"delete_match_other_pic") %>
		<% end %>
	</div>

	<div class="delete_match_bottom_bar">	
		<% if current_user  %>
		<%= link_to current_user do %>
			<div class="delete_match_go_back">
				Go Home 
			</div>
		<% end %>
		<% if @user.gender == "MALE" %> 
			<%= button_to 'Delete Match', @match, :controller => :matches,
			    :method => :delete, :class=> "delete_match_big_button" %>
		<% else %>
<%= button_to 'Delete Match', @wmatch, :controller => :matches, 
				:method => :delete, :class=> "delete_match_big_button" %>	
			<% end %>	
		<% end %>
	</div>

</div>
