<% provide(:title, "Edit User") %>

<div class="user_all_bar">
	<div class="container">
			
		<%= link_to signout_path, method: "delete" do %>
			<div class="user_home_button"> 
 				 Sign Out
			</div>
		<% end %>


			<%= link_to edit_user_path(@user) do %>
				<div class="user_home_button">
						Settings
				</div>
			<% end %>
	
		
	<%= link_to @user do %>
		<div class="user_home_button">
			<p> Home </p>
		</div>
	<% end %>

	<%= link_to profile_user_url do %>	
		<div class="user_home_button">
		 <%=  @user.name %>'s Profile</li>
		</div>
	<% end %>

	</div>
</div>

<div class="container">
	
	<h1 class="user_pics_header">Edit Profile</h1>
	
	<div class="admin_signup_box">
		<%= form_for @user, :html => {:multipart => true} do |f| %>
		
		<%= render 'shared/user_errors' %>
	
		<%= f.label :name, class: "admin_signup" %>
		<%= f.text_field :name, class: "admin_signup_field" %>

		<%= f.label :email, class: "admin_signup" %>
		<%= f.text_field :email, class: "admin_signup_field" %>
	
		<%= f.label :password, class: "admin_signup" %>
		<%= f.password_field :password, class: "admin_signup_field" %>
	
		<%= f.label :password_confirmation, "Confirmation", class: "admin_signup" %>
		<%= f.password_field :password_confirmation, class: "admin_signup_field" %>
		
		<%= f.label :location, class: "admin_signup" %>
		<%= f.text_field :location, class: "admin_signup_field" %>

		<%= f.label :age, "Age", class: "user_signup" %>
		<%= f.text_field :age, class: "user_signup_field" %>			

		<%= f.submit "Save", class: "admin_create" %>

		<% end %>
	</div>
	
</div>