<% provide(:title, "Edit User") %>

<% content_for(:head) do %>
 <%= stylesheet_link_tag "jquery.Jcrop" %>
 <%= javascript_include_tag "jquery.Jcrop.min" %>
 <script type="text/javascript" charset="utf-8">
$(function() {
  $('.cropbox').Jcrop({
    onChange: update_crop,
    onSelect: update_crop,
    setSelect: [0, 0, 500, 500],
    aspectRatio: 1
  });
});

function update_crop(coords) {
  var rx = 100/coords.w;
  var ry = 100/coords.h;
  $('#preview').css({
    width: Math.round(rx * <%= @user.avatar_geometry(:large).width %>) + 'px',
    height: Math.round(ry * <%= @user.avatar_geometry(:large).height %>) + 'px',
    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
    marginTop: '-' + Math.round(ry * coords.y) + 'px'
  });
  var ratio = <%= @user.avatar_geometry(:original).width %> / <%= @user.avatar_geometry(:large).width %>;
  $("#crop_x").val(Math.round(coords.x * ratio));
  $("#crop_y").val(Math.round(coords.y * ratio));
  $("#crop_w").val(Math.round(coords.w * ratio));
  $("#crop_h").val(Math.round(coords.h * ratio));
}
 </script>

<% end %>

<%= render 'shared/userallbar' %>

<div class="container">
	
	<h1 class="user_pics_header">Edit Profile</h1>
	
	<div class="admin_signup_box">
		<%= form_for @user, :html => {:multipart => true} do |f| %>
		
		<%= render 'shared/user_errors' %>
	
		<%= f.label :name, class: "admin_signup" %>
		<%= f.text_field :name, class: "admin_signup_field" %>

		<%= f.label :email, class: "admin_signup" %>
		<%= f.text_field :email, class: "admin_signup_field" %>
	
		<%= f.label :password, class: "admin_signup" %>
		<%= f.password_field :password, class: "admin_signup_field" %>
	
		<%= f.label :password_confirmation, "Confirmation", class: "admin_signup" %>
		<%= f.password_field :password_confirmation, class: "admin_signup_field" %>
		
		<%= f.label :location, class: "admin_signup" %>
		<%= f.text_field :location, class: "admin_signup_field" %>

		<%= f.label :age, "Age", class: "user_signup" %>
		<%= f.text_field :age, class: "user_signup_field" %>			

		<%= f.submit "Save", class: "admin_create" %>

		<% end %>
	</div>
	
</div>