<% provide(:title, "Edit User") %>

<%= render 'shared/userallbar' %>

<div class="container">
	
	<h1 class="user_pics_header">Edit Profile</h1>
	
	<div class="admin_signup_box">
		<%= form_for @user, :html => {:multipart => true} do |f| %>
		
		<%= render 'shared/user_errors' %>
	
		<%= f.label :name, class: "admin_signup" %>
		<%= f.text_field :name, class: "admin_signup_field" %>

		<%= f.label :email, class: "admin_signup" %>
		<%= f.text_field :email, class: "admin_signup_field" %>
	
		<%= f.label :password, class: "admin_signup" %>
		<%= f.password_field :password, class: "admin_signup_field" %>
	
		<%= f.label :password_confirmation, "Confirmation", class: "admin_signup" %>
		<%= f.password_field :password_confirmation, class: "admin_signup_field" %>
		
		<%= f.label :location, class: "admin_signup" %>
		<%= f.text_field :location, class: "admin_signup_field" %>

		<%= f.label :age, "Age", class: "user_signup" %>
		<%= f.text_field :age, class: "user_signup_field" %>			

		<%= f.submit "Save", class: "admin_create" %>

		<% end %>
	</div>
	
</div>