<% provide(:title, @admin.name) %>

	<%= link_to root_path do %>
<div class="all_logo">
	<%= image_tag("headerlogo.png") %>	
	
</div>
	<% end %>

	<ul class="admin_nav_bar">
		<li> <%= link_to "Profile", current_admin %></li>
		<li> <%= link_to "Settings", edit_admin_path(@admin) %></li>
		<li> <%= link_to "Change Picture", pics_admin_path %></li>
		<li> <%= link_to "Log Out", logout_path, method: "delete" %> </li>
	</ul>


<%= render 'shared/allbar' %>

<%= render 'shared/sidebar' %>

	<% flash.each do |key, value| %>
	  <div class="alert  alert-<%= key %>"><%= value %></div>
	<% end %>	
	
	<div class="admin_show">
		
		
		<h1 class="admin_show_header">Create Match</h1>
		
		<div class="admin_all_men_box">
			<div class="admin_each_men">
				<% if @user.avatar.present? %>
					<%= image_tag(@user.avatar(:medium), 
								:class => "create_match_user_pic") %>
				<% else %>
					<%= image_tag("viewprofile.png", 
									:class => "create_match_user_pic") %>
				<% end %>
				<div class="admin_each_men_info">
					<p><%= truncate(@user.name, :length => 15) %></p>
					<p><%= @user.location %></p>
				</div>
				
		</div>
	
			<% if @user.gender == "MALE" then %>	
			
			<div class="admin_create_match_list">	
			<%= form_for @match, :url => {:action => "makematch" } do |f| %>
			
			<%= f.hidden_field :man_id, :value =>  @user.id %>
			
			<%= f.label :woman_id, "Select Woman", class: "admin_create_match_label" %>
			<%= collection_select(:match, :woman_id,  User.where(:gender => "FEMALE").order("name ASC"), :id, :name, 
			{:prompt => true}, :class => "admin_create_match_dropdown" )%>
			
		<%= f.label :reason, "Tell them Why You Made This Match", class: "user_signup" %>
		<%= f.text_area :reason, class: "create_match_textarea" %>		
			
		<%= f.submit "Create Match", class: "admin_assign_button" %>
				
			<% end %>
			</div>
			
		<% else %>	
			
				<div class="admin_create_match_list">	
				<%= form_for @match, :url => {:action => "makematch" } do |f| %>

				<%= f.hidden_field :woman_id, :value =>  @user.id %>

				<%= f.label :man_id, "Select Man", class: "admin_create_match_label" %>
				<%= collection_select(:match, :man_id,  User.where(:gender => "MALE").order("name ASC"), :id, :name, 
				{:prompt => true}, :class => "admin_create_match_dropdown" )%>

		<%= f.label :reason, "Tell them Why You Made This Match", class: "user_signup" %>
		<%= f.text_area :reason, class: "create_match_textarea" %>	

			<%= f.submit "Create Match", class: "create_match_button" %>

				<% end %>
				</div>
		<% end %>	
		</div>

	
	</div>
