<% provide(:title, @admin.name) %>

  <script language="javascript">
$(document).ready(function(e) {
try {
$("body select").msDropDown();
} catch(e) {
alert(e.message);
}
});
</script>

	<%= link_to root_path do %>
<div class="all_logo">
	<%= image_tag("headerlogo.png") %>	
	
</div>
	<% end %>

	<%= render 'shared/admin_navbar' %>
	<%= render 'shared/allbar' %>

  <div class="admin_cont">

	<%= render 'shared/sidebar' %>

	<% flash.each do |key, value| %>
	  <div class="alert  alert-<%= key %>"><%= value %></div>
	<% end %>	
	
	<div class="admin_show">
		
		
		<h1 class="admin_profile_box_header">Create Match</h1>
		
		<div class="admin_match_user_box">
		  <%= link_to profile_user_path(@user) do %>	
			<div class="admin_match_each_men">
				<% if @user.avatar.present? %>
					<%= image_tag(@user.avatar(:large), 
								:class => "create_match_user_pic") %>
				<% else %>
					<%= image_tag("viewprofile.png", 
									:class => "create_match_user_pic") %>
				<% end %>
				<div class="admin_each_men_info">
					<p><%= truncate(@user.name, :length => 15) %></p>
					<p><%= @user.location %></p>
				</div>
		  <% end %>		
		</div>
	
			<% if @user.gender == "MALE" then %>	
			
			<div class="admin_create_match_list">	
			<%= form_for @match, :url => {:action => "makematch" } do |f| %>
			
			<%= f.hidden_field :man_id, :value =>  @user.id %>
			<%= f.hidden_field :admin_id, :value =>  @admin.id %>			
			
			<%= f.label :woman_id, "Select Woman", class: "admin_create_match_label" %>

		<%= f.select :woman_id, options_for_select(@women.map{ |c| [c.name, c.id, {'data-image' => c.avatar(:small)}]}, {:prompt => 'Select A Person'}) %>

		<%= f.label :reason, "Tell the MAN why you made the match",
								class: "user_signup" %>
		<%= f.text_area :reason, class: "create_match_textarea" %>
		
		<%= f.label :femreason, "Tell the WOMAN why you made the match", 
								class: "user_signup" %>
								
		<%= f.text_area :femreason, class: "create_match_textarea" %>				
			
		<%= f.submit "Create Match", class: "admin_assign_button" %>
				
			<% end %>
			</div>
			
		<% else %>	
			
				<div class="admin_create_match_list">	
				<%= form_for @match, :url => {:action => "makematch" } do |f| %>

				<%= f.hidden_field :woman_id, :value =>  @user.id %>

				<%= f.label :man_id, "Select Man", class: "admin_create_match_label" %>
				<%= collection_select(:match, :man_id,  User.where(:gender => "MALE").order("name ASC"), :id, :name, 
				{:prompt => true}, :class => "admin_create_match_dropdown" )%>

		<%= f.label :reason, "Tell the MAN why you made the match",
								class: "user_signup" %>
		<%= f.text_area :reason, class: "create_match_textarea" %>
		
		<%= f.label :femreason, "Tell the WOMAN why you made the mach", 
								class: "user_signup" %>
								
		<%= f.text_area :femreason, class: "create_match_textarea" %>

			<%= f.submit "Create Match", class: "create_match_button" %>

				<% end %>
				</div>
		<% end %>	
		</div>
	</div>
  </div>