<% provide(:title, "Sign Up") %>

<div class ="container"> 
	
	<h1 class="user_header"> Tell Us a Little About Yourself </h1>

	<div class="user_signup_box">
		<%= form_for(@user) do |f| %>
	
		<%= render 'shared/user_errors' %>
	
		<%= f.label :name, class: "user_signup" %>
		<%= f.text_field :name, class: "user_signup_field" %>
		
		<%= f.label :email, class: "user_signup" %>
		<%= f.text_field :email, class: "user_signup_field" %>

		<%= f.label :location, "City", class: "user_signup" %>
		<%= f.text_field :location, class: "user_signup_field" %>
	
		<%= f.label :gender, class: "user_signup" %>
		<%= f.select(:gender, %w[MALE FEMALE], {}, { :index => nil }) %>
	
		<%= f.submit "Submit", class: "user_create" %>

		<% end %>
	</div>

</div>