<% provide(:title, "Change Profile Pic") %>

<div class="user_all_bar">
	<div class="container">
			
		<%= link_to signout_path, method: "delete" do %>
			<div class="user_home_button"> 
 				 Sign Out
			</div>
		<% end %>


			<%= link_to edit_user_path(@user) do %>
				<div class="user_home_button">
						Settings
				</div>
			<% end %>
	
		
	<%= link_to @user do %>
		<div class="user_home_button">
			<p> Home </p>
		</div>
	<% end %>

	<%= link_to profile_user_url do %>	
		<div class="user_home_button">
		 <%=  @user.name %>'s Profile</li>
		</div>
	<% end %>

	</div>
</div>

<div class="container">
	
	<h1 class="user_pics_header">Change Profile Pic</h1>
	
	<div class="admin_signup_box">
		<%= form_for @user, :url => { action: "picsupdate" }  do |f| %>
		
		<%= render 'shared/user_errors' %>
		
		
		<div class="admin_image_limits">
			<p> Make sure New IMAGE has dimensions of 250x250 pixels </p>
			<br />
			<p> Format must be .jpg or .png </p>
		</div>
		
		<% if @user.avatar.present? %>
			<%= image_tag(@user.avatar(:large), class: "admin_old_pic") %>
		<% else %>
			<%= image_tag("userlogo.png", class: "admin_old_pic") %>
		<% end %>

		<%= f.file_field :avatar, class: "admin_signup_field" %>

		<%= f.submit "Save", class: "admin_create" %>

		<% end %>
	</div>
	
</div>