<% provide(:title, "Change Profile Pic") %>

<%= render 'shared/userallbar' %>

<div class="container">
	
	<h1 class="user_pics_header">Change Profile Pic</h1>
	
	<div class="admin_signup_box">
		<%= form_for @user, :url => { action: "picsupdate" }  do |f| %>
		
		<%= render 'shared/user_errors' %>
		
		
		<div class="admin_image_limits">
			<p> Make sure New IMAGE has dimensions of 250x250 pixels </p>
			<br />
			<p> Format must be .jpg or .png </p>
		</div>
		
		<% if @user.avatar.present? %>
			<%= image_tag(@user.avatar(:large), class: "admin_old_pic") %>
		<% else %>
			<%= image_tag("userlogo.png", class: "admin_old_pic") %>
		<% end %>

		<%= f.file_field :avatar, class: "admin_signup_field" %>

		<%= f.submit "Save", class: "admin_create" %>

		<% end %>
	</div>

	
</div>