<% provide(:title, @user.name) %>

<% if current_user == User.find(params[:id]) %>
	<%= render 'shared/userallbar' %>
<% else %>
	<div class="user_all_bar">
	</div>
<% end %>	

	<div class="container">


   <% if current_user  %>
   	<%= link_to current_user do %>
   	 <div class="all_logo">
	     <%= image_tag("headerlogo.png") %>
	    </div>
	   <% end %>
	  <% else if current_admin %> 
		   <%= link_to profile_admin_url(current_admin) do %>
		    <div class="all_logo">
		     <%= image_tag("headerlogo.png") %>
		    </div>
		   <% end %>
		  <% end %>
   <% end %>


	<div class="user_profile_box">		
	 <h1 class="admin_profile_box_header"><%= @user.name %></h1>

	 <% if current_user.present? && current_user != @user && current_user.gender == "MALE" %>
	  <% if @wmatch.infoapprove.blank? %>
		 <%= image_tag("viewprofile.png", class: "admin_show_img" ) %>         
	  <% else %>
		<% if @user.avatar.present? %>
		 <%= image_tag(@user.avatar(:medium), class: "admin_show_img" ) %>
        <% else %>
		 <%= image_tag("viewprofile.png", class: "admin_show_img" ) %>         
        <% end %>	 
       <% end %>  
    <% else %> 
		<% if @user.avatar.present? %>
		 <%= image_tag(@user.avatar(:medium), class: "admin_show_img" ) %>
        <% else %>
		 <%= image_tag("viewprofile.png", class: "admin_show_img" ) %>         
        <% end %>  
    <% end %>      
		<p class="user_profile_generic">
			<strong><%= @user.location %> </strong>
		</p>
		<% if @question %>
		<p class="user_profile_generic">
			<strong> Age: </strong> <%= @user.age %>
		</p>		

		<% if @question.ethnicity == "other" %>
		 <p class="user_profile_generic">
		<strong> Ethnicity: </strong> <%= @question.race.capitalize %>
		</p>	
		<% else %>
		 <p class="user_profile_generic">
			<strong> Ethnicity: </strong> <%= @question.ethnicity.capitalize %>
		 </p>
		<% end %>
		<% end %>
	
		<% if @question %>
			<p class="user_profile_generic"> 
			<strong> Education: </strong>
				<%= @question.education %> <br/>
			<% if @question.job.present? %>
			<strong>Occupation: </strong>
			 <%= @question.job %>
	
   		<% else %>
  	    <% end %>
  	    <br/><br/>
			 <%= @they %> prays <%= @question.prayer %>.  </p>
		    
			  <% if @question.firsthobby.present? %>	    	 
				 <div class="user_profile_question">	
				 	<p> Some of <%= @user.name %>'s Hobbies Include:
				 		<ul> 	
				 			<li> <%= @question.firsthobby %> </li> 
				 		<% if @question.secondhobby.present? %>	
				 			<li> <%= @question.secondhobby %> </li>
				 	    <% end %>
				 	     <% if @question.thirdhobby.present? %>
				 			<li> <%= @question.thirdhobby %> </li>
				 		 <% end %>
				 		</ul>
				 	</p>
				 </div>
			<% end %>
		   <% if @question.islamtoyou.present? %>	
			 <div class="user_islamtome">
			 <p class="user_islamtome_header">
			 What Islam means to <%= @user.name %> : 
			 </p>
			 	<p class="user_profile_quotes">
			 			"
			 	</p>
			 	<p class="user_islamtome_text"><%= @question.islamtoyou %>
			 	</p>
			 	<p class="user_profile_quotes">
			 			"
			 	</p>			 	
			 </div>
		   <% end %> 
		<% else %>
			<p class="admin_show_bio"> <%= @user.name %> has not filled 
				out a profile. 
			</p>
		<% end %>	
	</div>
	
	
	<% if current_admin %> 
	
	<% if @user.mquest.present? %>

	<div class="profile_spouse_box">
		<h1 class="profile_mquest_header">Spouse Preferences</h1>
	
		<p class="list_of_mquest_answers">
		 Age Range: <%= @user.mquest.agerange %>
		</p>
		<p class="list_of_mquest_answers">
		 Ethnicity: <%= @user.mquest.ethnic %>
		</p>
		<p class="list_of_mquest_answers">
	 	 Hijab: <%= @user.mquest.needhijabi %>
		</p>
		<p class="list_of_mquest_answers">
		 Education Level: <%= @user.mquest.edulevel %>
		</p>
		<p class="list_of_mquest_answers">
		 Other Preferences: <%= @user.mquest.anypref %>
		</p>
		<% if @user.already.present? %>
		  <div class="user_profile_already_list">
		  	<h1> 
		  		Already Matched With:
		    </h1> 
		  	<% @user.already.each do |already| %>
		    	<p> <%= already %> </p>
		    <% end %>
		  </div>
	    <% end %>
	</div>
	<% end %>	
	<% end %>

   <% if @user.admin.present? %>
	<%= link_to @user.admin do %>
		<div class="user_profile_mm">
		  <% if @user.admin.avatar.present? %> 	
			<%= image_tag(@user.admin.avatar(:small), class: 'message_mm_pic') %>
		  <% else %>
			<%= image_tag("viewprofile.png", class: 'message_mm_pic') %>	
		  <% end %>	    
			<p class="message_mm_title_bold"> MatchMaker:</p>			
			<p class="message_mm_title"><%= @user.admin.name %></p>

		</div>
	<% end %>
  <% end %>

	<% if current_admin  %>
		<%= link_to profile_admin_url(current_admin) do %>
			<div class="admin_go_home">
				<%= image_tag("homebutton2.png", class: "home_list_logo") %>
			</div>
		<% end %>
		<% else if current_user %>
			<%= link_to current_user do %>
		     <div class="admin_go_home">
					<%= image_tag("homebutton2.png", class: "home_list_logo") %>
			 </div>
			<% end %>
		<% end %>
	<% end %>
</div>
