<% provide(:title, @user.name) %>

<% if current_user %>
<%= render 'shared/userallbar' %>
<% end %>	
	<div class="container">
	
				<%= link_to root_path do %>
		<div class="all_logo">
			<%= image_tag("headerlogo.png") %>	
		</div>
			<% end %>	
	
	<div class="admin_profile_box">		
	
	
		<h1 class="admin_show_header"><%= @user.name %></h1>

		<%= image_tag(@user.avatar(:medium), class: "admin_show_img" ) %>

		<p class="admin_show_location">
			<%= @user.location %>
		</p>
	
		<% if @question %>
			<p class="admin_show_bio"> <%= @user.name %> attended 
			<%= @question.education %> and is pursuing a career as a
			 <%= @question.job %>.  <%= @they %> prays <%= @question.prayer %>.  </p>
		<% end %>
			


	</div>
	
	<% if current_admin  %>
		<%= link_to profile_admin_url do %>
			<div class="admin_go_home">
				Go Home 
			</div>
		<% end %>
	<% else if current_user %>
		<%= link_to current_user do %>
	     <div class="admin_go_home">
			 Go Home
		 </div>
		<% end %>
	<% end %>
	<% end %>
</div>
