<% provide(:title, @user.name) %>

	<div class="user_all_bar">
		<div class="container">
				
			<%= link_to signout_path, method: "delete" do %>
				<div class="user_home_button"> 
	 				 Sign Out
				</div>
			<% end %>
	
	
				<%= link_to edit_user_path(@user) do %>
					<div class="user_home_button">
							Settings
					</div>
				<% end %>
		
			
		<%= link_to @user do %>
			<div class="user_home_button">
				<p> Home </p>
			</div>
		<% end %>

		<%= link_to profile_user_url do %>	
			<div class="user_home_button">
			 <%=  @user.name %>'s Profile</li>
			</div>
		<% end %>
	
		</div>
	</div>
	
	<div class="container">
	<div class="admin_profile_box">
		
	
		<h1 class="admin_show_header"><%= @user.name %></h1>

		<%= image_tag(@user.avatar(:medium), class: "admin_show_img" ) %>

		<p class="admin_show_location">
			<%= @user.location %>
		</p>
		
		<p class="admin_show_bio">
			<%= @user.name %>
		</p>


	</div>

</div>
