<% provide(:title, @user.name) %>

<div class="container">

	<%= link_to root_path do %>
		<div class="all_logo">
			<%= image_tag("headerlogo.png") %>	
		</div>
	<% end %>	
	
	<div class="admin_profile_box">
		
	
	
		<h1 class="admin_show_header"><%= @user.name %></h1>

		<%= image_tag("matchmaker1.png", class: "admin_show_img" ) %>

		<p class="admin_show_location">
			<%= @user.location %>
		</p>
		
		<p class="admin_show_bio">
			<%= @user.name %>
		</p>


	</div>

</div>
