<% provide(:title, @user.name) %>

<% if current_user == User.find(params[:id]) %>
	<%= render 'shared/userallbar' %>
<% end %>	
	<div class="container">
	
				<%= link_to root_path do %>
		<div class="all_logo">
			<%= image_tag("headerlogo.png") %>	
		</div>
			<% end %>	
	
	<div class="user_profile_box">		
	
	
		<h1 class="admin_show_header"><%= @user.name %></h1>

		<%= image_tag(@user.avatar(:medium), class: "admin_show_img" ) %>

		<p class="admin_show_location">
			<%= @user.location %>
		</p>
		<% if @question %>
		<p class="user_profile_ethnic">
			<strong> Ethnicity: </strong> <%= @question.ethnicity %>
		</p>
		<% end %>
	
		<% if @question %>
			<p class="admin_show_bio"> <%= @user.name %> attended 
			<%= @question.education %> and is pursuing a career as a
			 <%= @question.job %>.  <%= @they %> prays <%= @question.prayer %>.  </p>
			 
			 <div class="user_profile_question">
			 	<p> Some of <%= @user.name %>'s Hobbies Include:
			 		<ul> 
			 			<li> <%= @question.firsthobby %> </li> 
			 			<li> <%= @question.secondhobby %> </li>
			 			<li> <%= @question.thirdhobby %> </li>
			 		</ul>
			 	</p>
			 </div>
			 <div class="user_islamtome">
			 <p class="user_islamtome_header">
			 What Islam means to <%= @user.name %> : 
			 </p>
			 	<p class="user_profile_quotes">
			 			"
			 	</p>
			 	<p class="user_islamtome_text"><%= @question.islamtoyou %>
			 	</p>
			 	<p class="user_profile_quotes">
			 			"
			 	</p>			 	
			 </div>
		<% else %>
			<p class="admin_show_bio"> <%= @user.name %> has not filled 
				out a profile. 
			</p>
		<% end %>	

	</div>
	
	<% if current_admin  %>
		<%= link_to profile_admin_url do %>
			<div class="admin_go_home">
				Go Home 
			</div>
		<% end %>
	<% else if current_user %>
		<%= link_to current_user do %>
	     <div class="admin_go_home">
			 Go Home
		 </div>
		<% end %>
	<% end %>
	<% end %>
</div>
