<% provide(:title, @user.name) %>

<%= render 'shared/userallbar' %>
	
	<div class="container">
	
				<%= link_to root_path do %>
		<div class="all_logo">
			<%= image_tag("headerlogo.png") %>	
		</div>
			<% end %>	
	
	<div class="admin_profile_box">		
	
	
		<h1 class="admin_show_header"><%= @user.name %></h1>

		<%= image_tag(@user.avatar(:medium), class: "admin_show_img" ) %>

		<p class="admin_show_location">
			<%= @user.location %>
		</p>
		
		<p class="admin_show_bio">
			<%= @user.name %>
		</p>
		
		<% if @user.admin_id? %>
			<p class="admin_show_bio">MatchMaker: <%= @user.admin.name %></p>
		<% else %>
		<% end %>


	</div>
	
		<% if current_user  %>
		<%= link_to current_user do %>
			<div class="admin_go_home">
				Go Home 
			</div>
		<% end %>
	<% end %>

</div>
