<% provide(:title, @user.name) %>

<%= render 'shared/userallbar' %>
	
	<div class="user_container">

		<% flash.each do |key, value| %>
		  <div class="alert  alert-<%= key %>"><%= value %></div>
		<% end %>	

	<div class="message_left_column">
		
			<div class="user_show_image">
				<% if @user.avatar.present? %>
					<%= image_tag(@user.avatar(:large), class: "user_no_pic") %>
				<% else %>
					<%= image_tag("userlogo.png", class: "user_no_pic") %>
				<% end %>
				<div class="user_show_pic">
					<%= link_to "Change Profile Picture", pics_user_path %>
				</div>
			</div>


		<%= render 'shared/navbar' %>

	</div>

	
	<div class="message_right_column">
	
		<% if @user.matches.present? || @user.wmatches.present? %>
		<% if @user.gender == "MALE" %>
			<div class="user_show_match">	
			 <% if @match.woman.avatar.present? %>
				<%= image_tag(@match.woman.avatar(:small), 
				 	class: 'user_show_match_no_pic') %>
			<% else %>
				<%= image_tag("viewprofile.png", 
				 	class: 'user_show_match_no_pic') %>
			<% end %>	 					 	
			<div class="user_show_match_info">
					<h1 class="user_show_match_name"> <%= @match.woman.name %> </h1>
					<p class="user_show_match_location"> Age:  </p>			
					<p class="user_show_match_location"> Location: <%= @match.woman.location %> </p>
					<p class="user_show_match_location"> Ethnicity: 
					       <%= @match.woman.question.ethnicity %> </p>
			</div>
		  <div class="user_to_match_buttons">
				<%= link_to profile_user_url(@match.woman) do %>
			<div class="view_match_profile">
				<%= image_tag("search3.png", class: "search_button") %> 
			</div>
				<% end %>
				<%= link_to new_user_message_path(@user) do %>
			<div class="user_msg_match">
			 <%= image_tag("message.png", class: "msg_button") %> 
			</div>		
				<% end %>
				<%= link_to deletematch_user_path do %>	
			<div class="user_end_match">
			 <%= image_tag("endmatch2.png", class: "end_button") %> 
			</div>		
				<% end %>				
		</div>
		</div>
			<div class="user_show_match_reason">
				<%= image_tag(@user.admin.avatar(:small), class:"user_show_reason_img") %>
			<p>	<%= truncate(@match.reason, length: 200) %> </p>
			</div>					
		<% else %> 
		<div class="user_show_match">
		  <% if @wmatch.man.avatar.present? %>
			<%= image_tag(@wmatch.man.avatar(:small), 
				class: 'user_show_match_no_pic') %>
		  <% else %>
			<%= image_tag("viewprofile.png", 
				class: 'user_show_match_no_pic') %>		
		  <% end %>  		
				<div class="user_show_match_info">
					<h1 class="user_show_match_name"> <%= @wmatch.man.name %> </h1>
					<p class="user_show_match_location"> Age: <%= @wmatch.man.age %>  </p>			
					<p class="user_show_match_location"> Location: 
							<%= @wmatch.man.location %> </p>
					<p class="user_show_match_location"> Ethnicity:
							  <%= @wmatch.woman.question.ethnicity %> </p>							
					</div>
			<div class="user_to_match_buttons">
				<%= link_to profile_user_url(@wmatch.man) do %>
					<div class="view_match_profile">
						<%= image_tag("search3.png", class: "search_button") %> 
					</div>
				<% end %>
				<%= link_to new_user_message_path(@user) do %>
					<div class="user_msg_match">
					 <%= image_tag("message.png", class: "msg_button") %> 
					</div>			
				<% end %>
				<%= link_to deletematch_user_path do %>						
					<div class="user_end_match">
					 <%= image_tag("endmatch2.png", class: "end_button") %> 
					</div>
				<% end %>
		  </div>
	     </div>		  
			<div class="user_show_match_reason">
				<%= image_tag(@user.admin.avatar(:small), class:"user_show_reason_img") %>			
				<p><%= truncate(@wmatch.reason, length: 200) %></p>
			</div>		
	    <% end %>
					<% else %>
				<div class="user_show_match_none">
				  <% if @user.subscription %>	
					<% if @user.question %>
					<h1 class="no_match_made"> No Match Made </h1>
					<p class="no_match_description"> We are finding you the best match available. <br />
					  Thank You for your Patience. </p>
					<% else %>
					<h1 class="no_match_made"> No Match Made </h1>
					<p class="no_match_description"> We cannot match you until you answer
					your Profile Questions!  </p>
					<% end %>							
				</div>
				<% else %>
					<h1 class="no_match_made"> No Match Made </h1>
					   <p class="no_match_description"> We Cannot Match You Until You Pay </p>
					 <%= link_to new_subscription_path do %>
					   <div class="pay_now_button">
					   <%= image_tag("moneybags.png", class: "moneybags") %>
					   <p class="pay_now_text">
							PAY NOW
						</p>
					   </div>
					</div>
					 <% end %>
			   <% end %>
			   <% end %>									

	
	<% if @user.admin.present? %>
				
	<%= link_to @user.admin do %>
		<div class="user_show_match_bar">
			
			<%= image_tag(@user.admin.avatar(:small), class: 'user_matchmaker_pic') %>
			<p class="user_matchmaker_title_bold">Your MatchMaker:</p>			
			<p class="user_matchmaker_title"><%= @user.admin.name %></p>

		</div>
	<% end %>
	
	<% else %>
		<div class="user_show_match_bar">
			
			<%= image_tag("viewprofile.png", class: 'user_matchmaker_pic') %>
			<p class="user_matchmaker_title_bold">Select A MatchMaker</p>			
			<p class="user_matchmaker_title"></p>

		</div>
	<% end %>	
	 
		
	<% unless @user.mquest.present? then %>
	<%= link_to new_user_mquest_path(@user) do %>				
		<div class="user_account_notif">	
			<%= image_tag("questions.png", class: 'user_questions_pic') %>
				<h1 class="user_account_header"> Help Us Find You a Match </h1>
		</div>	
	<% end %>	
	<% else %>
	<%= link_to edit_user_mquest_path(@user) do %>
		<div class="user_account_notif">	
			<%= image_tag("questions.png", class: 'user_matchmaker_pic') %>
				<h1 class="user_account_header"> Need to Change your Match Preferences?  </h1>
		</div>	
	<% end %>
	<% end %>			
	
	</div>
	

	
		</div>
	</div>
