<% provide(:title, @user.name) %>

	<%= link_to root_path do %>
<div class="all_logo">
	<%= image_tag("headerlogo.png") %>	
	
</div>
	<% end %>

	<ul class="admin_nav_bar">
		<li> <%= link_to "#{@user.name}'s Profile", profile_user_url %></li>
		<li> <%= link_to "Settings", edit_user_path(@user) %></li>
		<li> <%= link_to "Sign Out", signout_path, method: "delete" %> </li>
	</ul>


	<div class="all_bar">
		
		
		<%= link_to @user do %>
			<div class="home_button">
				<p> Home </p>
			</div>
		<% end %>
		
		
	</div>
	
	<div class="container">

		<% flash.each do |key, value| %>
		  <div class="alert  alert-<%= key %>"><%= value %></div>
		<% end %>	
	
		<div class="user_show">
		
		<div class="user_show_image">
			<% if @user.avatar.present? %>
				<%= image_tag(@user.avatar(:medium), class: "user_no_pic") %>
			<% else %>
				<%= image_tag("userlogo.png", class: "user_no_pic") %>
			<% end %>
			
			<div class="user_show_pic">
				<%= link_to "Change Profile Picture", pics_user_path %>
			</div>
		
		</div>
	
				<div class="user_show_info">
			<!--		<h1 class="user_show_header"><%= @user.name %></h1>
					<p><%= @user.location %></p> -->
				</div>
		
		<div class="user_show_match">
			<%= image_tag('userlogo.png', class: 'user_show_match_no_pic') %>
			<h1 class="user_show_match_name"> Mahsa Kahmanoiue </h1>
			<p class="user_show_match_location"> Age : 23 </p>			
			<p class="user_show_match_location"> Location : San Jose, CA </p>
			
			<div class="view_match_profile">
				View Profile
			</div>
			
			
			
		</div>
		
		<div class="user_show_match_bar">
		</div>

	
		</div>
	</div>
