<% provide(:title, @user.name) %>

	<div class="user_all_bar">
		<div class="container">
				
			<%= link_to signout_path, method: "delete" do %>
				<div class="user_home_button"> 
	 				 Sign Out
				</div>
			<% end %>
	
	
				<%= link_to edit_user_path(@user) do %>
					<div class="user_home_button">
							Settings
					</div>
				<% end %>
		
			
		<%= link_to @user do %>
			<div class="user_home_button">
				<p> Home </p>
			</div>
		<% end %>

		<%= link_to profile_user_url do %>	
			<div class="user_home_button">
			 <%=  @user.name %>'s Profile</li>
			</div>
		<% end %>
	
		</div>
	</div>
	
	<div class="container">

		<% flash.each do |key, value| %>
		  <div class="alert  alert-<%= key %>"><%= value %></div>
		<% end %>	
	
		<div class="user_show">
		
		<div class="user_show_image">
			<% if @user.avatar.present? %>
				<%= image_tag(@user.avatar(:medium), class: "user_no_pic") %>
			<% else %>
				<%= image_tag("userlogo.png", class: "user_no_pic") %>
			<% end %>
			
			<div class="user_show_pic">
				<%= link_to "Change Profile Picture", pics_user_path %>
			</div>
		
		</div>
	
				<div class="user_show_info">
			<!--		<h1 class="user_show_header"><%= @user.name %></h1>
					<p><%= @user.location %></p> -->
				</div>
		
		<div class="user_show_match">
			<div class="user_show_match_box">
			<%= image_tag('userlogo.png', class: 'user_show_match_no_pic') %>
			<h1 class="user_show_match_name"> Fatima Carun </h1>
			<p class="user_show_match_location"> Age : 23 </p>			
			<p class="user_show_match_location"> Location : San Jose, CA </p>
			
			<div class="view_match_profile">
				<%= image_tag("search2.png", class: "search_button") %> 
				<div class="view_match_text"> View Profile </div> 
			</div>
			</div>
			
			<div class="user_msg_match">
			 <%= image_tag("message.png", class: "msg_button") %> 
				<div class="msg_match_text"> Message </div>
			</div>
			<div class="user_end_match">
			 <%= image_tag("endmatch2.png", class: "end_button") %> 
			</div>
			
		</div>
		
		<div class="user_show_match_bar">
			<%= image_tag('userlogo.png', class: 'user_matchmaker_pic') %>
			<p class="user_matchmaker_title">Mrs. Khan made this match for you! </p> 
			<p class="user_matchmaker_title"> Comments or Questions? </p>
			

			
		</div>

	
		</div>
	</div>
