<div class="all_bar">

	<div class="matches_button">
		<p> Your Users </p>
	</div>
	
		<%= link_to msgs_path do %>
		<div class="admin_all_users">
				<p> Inbox </p>
		</div>
	<% end %>

	<div class="admin_menu">
		<p> Menu </p>
		<%= link_to controller: "admins", action: "allmen", :id => current_admin do %>
			<div class="admin_all_men_drop">
					<p> All Men </p>
			</div>
		<% end %>

		<%= link_to controller: "admins", action: "allwomen", :id => current_admin do %>
		<div class="admin_all_women_drop">
				<p> All Women </p>
		</div>
		<% end %>
		
		<%= link_to controller: "matches", action: "index" do %>
		<div class="admin_all_matches_drop">
				<p> All Matches </p>
		</div>
		<% end %>

		<%= link_to controller: "admins", action: "deleteusers", :id => current_admin do %>
		<div class="admin_delete_users_drop">
				<p> Delete Users </p>
		</div>
		<% end %>

	<%= link_to new_invite_url do %>
		<div class="admin_code_drop">
			<p> New Code </p>
		</div>
	<% end %>

  </div>

	<%= link_to controller: "admins", action: "profile", id: current_admin do %>
		<div class="home_button">
			<p> Home </p>
		</div>
	<% end %>

</div>