<div class="all_bar">

	<div class="matches_button">
		<p> Your Users </p>
	</div>
	
	<%= link_to controller: "admins", action: "allmen", :id => current_admin do %>
	<div class="admin_all_users">
			<p> All Men </p>
	</div>
	<% end %>

	<%= link_to controller: "admins", action: "allwomen", :id => current_admin do %>
	<div class="admin_all_users">
			<p> All Women </p>
	</div>
	<% end %>
	
	<%= link_to controller: "admins", action: "allmatches", :id => current_admin do %>
	<div class="admin_all_users">
			<p> All Matches </p>
	</div>
	<% end %>

	<%= link_to profile_admin_url do %>
		<div class="home_button">
			<p> Home </p>
		</div>
	<% end %>

	<%= link_to new_invite_url do %>
		<div class="home_button">
			<p> Code </p>
		</div>
	<% end %>

</div>