		<div class="message_home_list">
			<%= link_to profile_user_url(@user) do %>	
				<div class="view_your_profile_box"> 
				<%= image_tag("viewprofile.png", class: "home_list_logo") %>
			     <p class="view_profile_text">
					View Your Profile 
				 </p>			
				</div>
			<% end %>
				<%= link_to user_messages_path(@user) do %>
				 <div class="inbox_box"> 
				<%= image_tag("inbox.png", class: "home_list_logo") %>				 
				   <p class="view_profile_text">
				     Inbox (<%= @newmessages.count + @newmsg.count %>)
				   </p> 
				 </div>
				<% end %>
			<% unless @user.question.present? then %>
				<%= link_to new_user_question_path(@user) do %>
				 <div class="inbox_box"> 
				<%= image_tag("answer.png", class: "home_list_logo") %>				 
				  <p class="view_profile_text">
				    Answer Profile Questions
				  </p>  
			     </div>
				<% end %>			
			<% else %>
				<%= link_to :controller => "questions", 
							:action => "edit", :id => @question.id do %>
				  <div class="inbox_box"> 
				<%= image_tag("answer.png", class: "home_list_logo") %>				 
				  <p class="view_profile_text">
				    Answer Profile Questions
				  </p>  
				  </div>
				<% end %>			
			<% end %>			
		</div>