<% provide(:title, "About") %>


<div class="about_header">
	
		<%= link_to root_path do %>
	<div class="about_logo">
		<%= image_tag("logotinynew.png") %>	
	</div>
		<% end %>
</div>

<div class="container">
	<div class="about_wrapper">
	
			<div class="about_header_title">
						<h1>Professional MatchMaking</h1>
						<%= image_tag("matchmaker1.png", class: "about_image_matchmaker") %>
						<%= image_tag("privacy.png", class: "about_image_privacy") %>
						<%= image_tag("howtojoin.png", class: "about_image_join") %>
			</div>
			
			
			<div class="about_match">
				<p> Our MatchMakers work with you from constructing your profile, 
						to finding you matches, to coordinating your dates.</p>
			</div>
			
			<div class="about_privacy">
			<p> No Searches. No Public Profiles. Total Privacy. The only people that can see you
				is your MatchMaker and the current match that we have assigned you.   </p>
			</div>
			
			<div class="about_how_to">
			<p>	You cannot join without an <strong> Invite Code </strong> handed
				out by our shiaME Representatives. We are serving the Bay Area only.   </p>
			</div>


			<div class="about_subscribe_box">
				<div class="about_subscribe">
					<p>To be notified of our Launch, enter your email </p>
					<%= form_for @subscriber do |f| %>
					    <%= f.text_field :email, :value => "Enter Email", :class => "invite_code_field" %>
					    <%= f.submit "SUBSCRIBE", :class => "invite_code_button"  %>
					<% end %>
				</div>
			</div>			


	</div>
</div>