
<div class="container">

	<div class="home_logo">
		<%= image_tag("logonew1.png", :alt => "shiaME Home Page", :class => "home_logo_new") %>

	<div class="invite_code">
		<h1 class="home_tagline"> a matchmaking service </h1>
		
	<div class="home_video">
<iframe width="300" height="169" src="http://www.youtube-nocookie.com/embed/zGPJB2hDxmU?rel=0&showinfo=0"
				 frameborder="0" allowfullscreen></iframe>
	</div>		
	<br />
	<br />			
		<p>Enter Your Invite Code</p>
		<%= form_tag test_path, :method => :get  do %>
		    <%= text_field_tag :code, params[:code], :class => "invite_code_field" %>
		    <%= submit_tag "ENTER", :class => "invite_code_button"  %>
		<% end %>
	</div>

</div>
	
	<%= link_to signin_path do %>
		<div class="what_is_site">
			<p> Sign In </p>
		</div>
	<% end %>	


</div>
