
<%= render 'homebar' %>

<div class="container">

 <div class="home_main_box">
		<div class="home_user_example">
			<%= image_tag(@user.avatar(:medium), class: "home_user_example_img") %>
			<p class="home_user_name">
				<%= @user.name %>
			</p>
			<p class="home_user_location">
				<%= @user.location %>
			</p>
			<p class="home_user_location">
				USER
			</p>
		</div>

		<div class="home_logo">
		 <%= image_tag("logonew1.png", :alt => "shiaME Home Page", :class => "home_logo_new") %>
			<div class="invite_code">
				<h1 class="home_tagline"> a matchmaking service </h1>

				<p>Enter Your Invite Code</p>
				<%= form_tag test_path, :method => :get  do %>
				    <%= text_field_tag :code, params[:code], :class => "invite_code_field" %>
				    <%= submit_tag "ENTER", :class => "invite_code_button"  %>
				<% end %>
			</div>
		</div>

	<div class="home_admin_example">
		<%= image_tag("admin_example.png", class: "home_admin_example_img") %>
		<p class="home_admin_name">
			Auntie Zahra
		</p>
		<p class="home_admin_location">
			San Francisco, CA
		</p>
		<p class="home_admin_location">
			MATCHMAKER
		</p>
	</div>

 </div>
</div>

<div class="how_it_works_box">
	<div class="container">
		<h1 class="how_it_works_header">
			How It Works
		</h1>

		<div class="how_it_works_tagline">
			shiaME is a <strong>private</strong> invite-only matchmaking service for Shia Muslims.
		</div>

		<h1 class="how_it_works_header">
			1. Pick A MatchMaker
		</h1>
		  <p class="step_tagline">
		  	You get to pick your own <strong> Personal MatchMaker </strong> that works specifically with you to find you a match. 
		  </p>

		<%= image_tag("pick_mm.png", class:"how_it_works_pick") %>

		<h1 class="how_it_works_header">
		 2. Create Your Profile 
		</h1>
		<p class="step_tagline">
		 Nobody can view your profile except for your MatchMaker and the User we match you with. 		
		</p>
		<%= image_tag("create_profile.png", class:"how_it_works_create") %>

		<h1 class="how_it_works_header">
		 3. Get Matched By MatchMaker 
		</h1>
		
		<%= image_tag("get_matched.png", class:"how_it_works_create") %>

		<h1 class="how_it_works_header">
		 4. Start Talking
		</h1>		

	<%= image_tag("talking_now.png", class:"how_it_works_talking") %>

		<h1 class="how_it_works_header">
		 5. Give Your MatchMaker Feedback  
		</h1>	
		<p class="step_tagline">
		 Tell your MatchMaker what you liked or didn't like about your match, so the MatchMaker can get a better sense of what you're looking for. 		
		</p>			
		<%= image_tag("mm_msg.png", class:"how_it_works_create") %>	

	    <h1 class="how_it_works_header">
		 6. Pricing  
		</h1>	
		  <p class="step_tagline">
		  	We charge on a monthly basis and this ensures that whoever is on our site is serious and dedicated to getting married. 
		  </p>


    <div class="main_price_container">
	  	<div class="price_box">
	  	  $50/month 
	  	</div>
	 </div>
	  	
	    <h1 class="how_it_works_header">
		 How Can You Join?  
		</h1>	
		  <p class="step_tagline">
		      You must receive an invite code from either one of our MatchMakers or from us directly. You can email us directly at <strong> webmaster@shiame.com </strong> for information on how to receive an Invite Code. 
		  </p>
	<div class="main_price_container">	  	 
		<div class="bottom_invite_code">
			<p>Enter Your Invite Code</p>
			<%= form_tag test_path, :method => :get  do %>
			    <%= text_field_tag :code, params[:code], :class => "invite_code_field" %>
			    <%= submit_tag "ENTER", :class => "invite_code_button"  %>
			<% end %>
		</div>	  	
	</div>

	</div>
</div>


