<% provide(:title, @user.name) %>

	<div class="user_all_bar">
	</div>

	<div class="user_container">

		<% flash.each do |key, value| %>
		  <div class="alert  alert-<%= key %>"><%= value %></div>
		<% end %>	
	

	
	<div class="subscription_pay_column">

		<div class="subscribe_mm_box">
			<%= image_tag(@user.admin.avatar(:small), class: 'message_mm_pic') %>
			<p class="message_mm_title_bold">Your MatchMaker:</p>			
			<p class="message_mm_title"><%= @user.admin.name %></p>
		</div>
			
	 <h1 class="subscribe_header">
		 Payment  
		</h1>	
		  <p class="subscribe_tagline">
		  	We charge on a monthly basis and this ensures that whoever is on our site is serious and dedicated to getting married. 
		  </p>

	  	<div class="price_box">
	  	  $50/month 
	  	</div>


	<div class="question_new_box">
	
		<%= form_for @subscription, :html => { :multipart => true } do |f| %>
		<%= render 'shared/sub_errors' %>
	
	
		<%= f.label :name, "Name on Card", class: "user_signup" %>
		<%= f.text_field :name, class: "user_signup_field" %>

		<%= f.label :email, "Email", class: "user_signup" %>
		<%= f.text_field :email, class: "user_signup_field" %>			
				
		<%= f.hidden_field :stripe_card_token %>
		<%= f.hidden_field :user_id %>	
		<%= f.hidden_field :plan_id %>				
		
		<% if @subscription.stripe_card_token.present? %>
		  Credit card has been provided.
		<% else %>
		  <div class="field">
			<%= label_tag :card_number, "Credit Card Number", class: "user_signup" %>
			<%= text_field_tag :card_number, nil, name: nil, class: "user_signup_field" %>
		  </div>
		  <div class="field">
			<%= label_tag :card_code, "Security Code on Card (CVV)", class: "user_signup" %>
			<%= text_field_tag :card_code, nil, name: nil, class: "user_signup_field" %>
		  </div>
		  <div class="field">
			<%= label_tag :card_month, "Card Expiration", class: "user_signup" %>
			<%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
			<%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
		  </div>
		<% end %>
		<div id="stripe_error">
		  <noscript>JavaScript is not enabled and is required for this form. 
		  First enable it in your web browser settings.</noscript>
		</div>	
		
	
		<%= f.submit "Submit", class: "user_create_bigger" %>

		<% end %>

  <%= button_to "Don't Want to Join", {:action => "destroy",
			                        :id => @user.id, 
			                        :controller => "users"},
			                        :method => "delete", 
			                        :confirm => "Are you sure?", 
			                        :class => "no_join" %>			
	
	</div>
		
	</div>
	
	</div>
