
	<div class="user_all_bar">
	</div>
	<div class="container">
	
				<%= link_to root_path do %>
		<div class="all_logo">
			<%= image_tag("headerlogo.png") %>	
		</div>
			<% end %>	
	
	<div class="admin_profile_box">		
	
	  <% if @user.avatar.present? %>
		<%= image_tag(@user.avatar(:medium), class: "delete_match_pic" ) %>
	  <% else %>
	   <%= image_tag("viewprofile.png", class: "delete_match_pic" ) %>	
	  <% end %>
		<div class="delete_match_middle">	
			<%= image_tag("goldpack.png", class: "delete_match_middle_logo") %>
			<p class="delete_match_header"> Are You Sure? </p>
		</div>
		<% if @user.gender == "MALE" %>
		  <% if @match.woman.avatar.present? %>
			<%= image_tag(@match.woman.avatar(:small), 
			   class:"delete_match_other_pic") %>
		  <% else %>
		    <%= image_tag("viewprofile.png", 
			   class:"delete_match_other_pic") %>	 
		  <% end %>  
		<% end %>
		<% if @user.gender == "FEMALE" %>
		  <% if @wmatch.man.avatar.present? %>
			<%= image_tag(@wmatch.man.avatar(:small), 
			   class:"delete_match_other_pic") %>
		  <% else %>
		    <%= image_tag("viewprofile.png", 
			   class:"delete_match_other_pic") %>	 
		  <% end %>  
		<% end %>
	</div>

	<div class="delete_match_bottom_bar">	
		<% if current_admin  %>
		<%= link_to current_admin do %>
			<div class="delete_match_go_back">
				Go Home 
			</div>
		<% end %>
			<%= button_to 'Delete Match', @match, :method => :delete, :class=> "delete_match_big_button" %>
		<% end %>
	</div>

</div>
